{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ title }}
{% endblock %}

{% block body %}
    <input type="hidden" name="used_front_Controller" value="{{ controller_name }}">
    <h1>{{ title }}</h1>
    <div class="wrapper">
{#        <div class="teaser"><span class="teaser-text">{{ teaser }}</span></div>#}
{#        <div class="description"><p class="description-text">{{ description }}</p></div>#}
    </div>
{% endblock %}