{% extends 'base.html.twig' %}

{% block title %}Details of {{ controllerName }} ID: {{ detail.id }} Name: {{ detail.data.name }}{% endblock %}

{% block body %}
    <div class="wrapper-detailed"><h1>Test- mit ID: {{ taskId }}</h1>
        <h2>{% block headerTitle %}Details of {{ controllerName }} ID: {{ detail.id }} Name: {{ detail.data.name }}{% endblock %}</h2>
        <div class="detail-teaser">{{ detail.data.teaser }}</div>
        <div class="detail-description">'{{ detail.data.description }}'</div>
    </div>
{% endblock %}